/* Hero Section */

.hero-section-wrapper{ 
    background-image: url("https://picsum.photos/id/201/1920/1080");
    background-repeat: no-repeat;
    background-size:100% 100%;
    width:100%; 
    height: 600px;
    border-radius: 15px;
    overflow: hidden;
}
.hero-section-div{ 
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: flex-start;
    align-items: flex-end;
    backdrop-filter: blur(4px);
}
.hero-section-hero-cont{ 
    margin: 2.5rem 4rem;
    color: var(--white);
}

.hero-section-hero-cont h1{ 
    font-size: 48px;
    font-weight: 600;
    color: var(--white);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--white);
    margin: 0
}
.hero-section-hero-cont h1:hover{ 
    color: transparent;
    transition: all 0.5s ease-in-out;
}
.hero-section-hero-cont h1:not(:hover){ 
    transition: all 0.5s ease-in-out;
}
.hero-section-hero-cont button{ 
    margin-top: 4.5rem;
    width: 172px;
    height: 48px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}











/* Subject Section */
.subject-section-subjects-cards{ 
    display: flex;
    gap: 1.40rem;
    flex-wrap: wrap;
}
.subject-card{ 
    max-width: 176px;
}
.sub-img{ 
    width: 176px;
    height: 176px;
    border-radius: 10px;
    overflow: hidden;
}
.sub-img img{ 
    width: 100%;
    height: 100%;
}
.sub-name{ 
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 500
}
.last-visited{ 
    color: var(--grey);
    font-size: 14px;
    font-weight: 400; 
}

















/* Daily Practice Section */
.daily-practice-wrapper{ 
    margin-top: 2rem;
}
.daily-practice-section-div{ 
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
}
.daily-practice-card{ 
   max-width: 301px;
    height: fit-content;

}
.daily-practice-card-img{ 
    width: 301px;
    height: 301px;
    border-radius: 10px;
    overflow: hidden;
}
.daily-practice-card-img img{ 
    width: 100%;
    height: 100%;
}
.last-visited-info{ 
    width: 100%;
}
.subject-name{ 
    font-size: 16px;
    font-weight: 500;
}
.subject-last-visited{ 
    font-size: 14px;
    font-weight: 400;
    color: var(--grey); 
}
















/* Populer Topics */
.populer-topics-section-div{ 
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.populer-topics-button{ 
    background: var(--lightgrey);
    color: var(--black);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    margin: 0.3rem 0rem; 
    font-size: 14px;
    font-weight: 600;
}