@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lexend", sans-serif; 
}


button{ 
  cursor: pointer;
}

.dashboard-wrapper{
   /* border: 1px solid red; */
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2rem;
}
.dashboard-div{ 
  width: 90%;
  height: 90%;
  /* border: 1px solid blue; */
}

:root{ 
  --white: #ffffff; 
  --black: #121217; 
  --blue: #1A5CE5; 
  --grey: #637087; 
  --lightgrey: #F0F2F5; 
  --lightgreen: #39e039; 
}
p{ 
  margin: 0;
  padding: 0;
}
